@import '../../styles/vars/index'
@import '../../styles/mixins/index'

.app_layout {

  .main_container {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    min-width: 1000px;
  }
  
}
