// Custom vars

// Shadow
$shadow-1                     = 4px 4px 20px 0 alpha($black, .01)
$shadow-2                     = 4px 4px 40px 0 alpha($black, .05)
$shadow-3                     = 0 -2px 10px 0px alpha($grey-7, .1)
$shadow-4                     = 0 1px 3px 0px alpha($grey-7, .05)

// Transition
$transition-ease-in           = all $animation-duration-base $ease-in
$transition-ease-out          = all $animation-duration-base $ease-out
$transition-ease-in-out       = all $animation-duration-base $ease-in-out

//Z-index
$zindex-header                = 1010

// Font Family
$font-family-markdown         = PingFang SC,Verdana,Helvetica Neue,Microsoft Yahei,Hiragino Sans GB,Microsoft Sans Serif,WenQuanYi Micro Hei,sans-serif

// Line Height
$line-height-lg               = 1.8

// Component
$body-padding                 = 48px

