@import '../../styles/vars/index'

$bread-margin         = $body-padding / 2
$bread-padding        = $body-padding

.bread {
  height: 48px;
  line-height: 48px;
  margin-bottom: (0 - $bread-margin);
  padding: 0 $bread-padding;

  i {
    margin-right: 5px;
  }

}
