@import '../../../../styles/vars/index'

.page-article-detail {
  position: relative;

  .content-title {
    position: relative;

    .go-edit-btn {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
    }
  }

  .info-item-text {
    margin-left: 10px;
  }

  .view-comments-btn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }

}
