@import '../../../../styles/vars/index'
@import '../../../../styles/mixins/index'

.page_category {
  .category_list {
    padding: $base-padding;

    .category_item, .create_btn {
      margin-bottom: ($base-margin / 2);
    }
  }
}
