@import '../../../../styles/vars/index'

.page-articles {
  position: relative;
  padding: ($body-padding / 2);
  background-color: $white;
  .article-list {

    .list-actions {
      button {
        margin-right: 15px;

        &:last-child {
          margin-right: 0;
        }

      }
    }
    
    .action-column {
      text-align: center;
    }

  }  
}
