@import '../../styles/vars/index'
@import '../../styles/mixins/index'

.list_item {
  position: relative;
  padding: 15px 20px;
  border-bottom: 1px solid rgba($black, .06);
  overflow: hidden;
  transition: $transition-ease-out;

  &:hover {
    background-color: $grey-2;
  }

}