@import '../../styles/vars/index'
@import '../../styles/mixins/index'

$command-item-height            = 35px

.markdown_editor {
  position: relative;
  width: 100%;
  background-color: $white;

  .hd {
    border-bottom: 1px solid rgba($black, .06);
    box-shadow: 0 1px 6px rgba($black, .05);

    .command_item {
      display: inline-block;
      width: $command-item-height ;
      height: $command-item-height ;
      line-height: ($command-item-height  - 2 * 5px);
      padding: 5px;
      text-align: center;
      cursor: pointer;
      transition: $transition-ease-out;

      &:hover {
        color: $blue-6;
        background-color: alpha($blue-6, .1);
      }

      i {
        font-size: $font-size-lg;
      }

      &.command_item_upload {
        float: right;
        width: (2 * $command-item-height);
      }

    }
    
  }

  .bd {
    full()
    top: 35px;
    min-height: "calc(100vh - %s - 60px - %s)" % ($header-height $command-item-height);
  }

  .edit_pane, .preview_pane {
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: auto;
    transition: $transition-ease-out;
  }

  .edit_pane {
    overflow: hidden;

    .input_area {
      width: 100%;
      height: 100%;
      padding: $base-padding;
      border: none;
      outline: none;
    }
  }

  .preview_pane {
    width: 0;
    padding: $base-padding;
    background: alpha($blue-6, .01);
  }

  &.fullscreen_mode {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $zindex-modal;
  }

  &.preview_mode {
    .command_item_preview {
      color: $blue-6;
      background-color: alpha($blue-6, .1);
    }
    .edit_pane {
      width: 0;
      padding: 0;
    }

    .preview_pane {
      width: 100%;
    }
  }

  &.compare_mode {
    .command_item_compare {
      color: $blue-6;
      background-color: alpha($blue-6, .1);
    }

    .edit_pane, .preview_pane {
      display: inline-block;
      width: 50%;
    }

    .edit_pane {
      border-right: 1px solid rgba($black, .06);
    }

    .preview_pane {
    }
  }

}