@import '../../styles/vars/index'
@import '../../styles/mixins/index'

.markdown_editor {
  position: relative;
  width: 100%;
  background-color: $white;

  .hd {
    border-bottom: 1px solid rgba($black, .06);
    box-shadow: 0 1px 6px rgba($black, .05);

    .command_item {
      display: inline-block;
      width: $md-command-item-height;
      height: $md-command-item-height;
      line-height: ($md-command-item-height  - 2 * 5px);
      padding: 5px;
      text-align: center;
      cursor: pointer;
      transition: $transition-ease-out;

      &:hover {
        color: $blue-6;
        background-color: alpha($blue-6, .1);
      }

      i {
        font-size: $font-size-lg;
      }
    }
    
  }

  .bd {
    position: relative;
    height: "calc(100vh - %s - 60px - %s)" % ($header-height $md-command-item-height);
  }

  .edit_pane, .preview_pane {
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: auto;
    transition: $transition-ease-out;
  }

  .edit_pane {
    overflow: hidden;

    .input_area {
      width: 100%;
      height: 100%;
      padding: $base-padding;
      border: none;
      outline: none;
      resize: none;
    }
  }

  .preview_pane {
    width: 0;
    padding: 0;
    background: alpha($blue-6, .01);
  }

  &.mini_mode {
    .command_item {
      width: $md-command-item-height-mini;
      height: $md-command-item-height-mini;
      line-height: ($md-command-item-height-mini  - 2 * 3px);
      padding: 3px;

      i {
        font-size: $font-size-base;
      }

    }

    .edit_pane .input_area {
      padding: ($base-padding / 2);
    }
  }

  &.fullscreen_mode {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $zindex-modal;

    .command_item {
      width: $md-command-item-height;
      height: $md-command-item-height;
      line-height: ($md-command-item-height  - 2 * 5px);
      padding: 5px;

      i {
        font-size: $font-size-lg;
      }

    }

    .bd {
      height: "calc(100vh - %s) !important" % $md-command-item-height;
    }

  }

  &.preview_mode {
    .command_item_preview {
      color: $blue-6;
      background-color: alpha($blue-6, .1);
    }
    .edit_pane {
      width: 0;
      padding: 0;
    }

    .preview_pane {
      width: 100%;
      padding: $base-padding;
    }
  }

  &.compare_mode {
    .command_item_compare {
      color: $blue-6;
      background-color: alpha($blue-6, .1);
    }

    .edit_pane, .preview_pane {
      display: inline-block;
      width: 50%;
    }

    .edit_pane {
      border-right: 1px solid rgba($black, .06);
    }

    .preview_pane {
      padding: $base-padding;
    }
  }

}