@import '../../styles/vars/index'
@import '../../styles/mixins/index'

.comment_item {

  .wrapper {
    flexLayout()
    position: relative;
    padding: 10px 0;

    .avatar {
      flex: 0 0 36px;
      width: 36px;
      height: 36px;
    }

    .bd {
      flex-grow: 1;
    }

  }

}