@import '../../styles/vars/index'
@import '../../styles/mixins/index'


.comment_list {
  position: relative;
  padding: $base-padding;
}

.talk_modal {
  :global {
    .ant-modal-body {
      max-height: calc(100vh - 50px * 2 - 48px);
      overflow-x: hidden;
      overflow-y: auto;
    }
  }
  
}
