@import '../../../../styles/vars/index'
@import '../../../../styles/mixins/index'

.page_all_article {

  .list_view {
    display: block;
  }

  .detail_view {
    
  }

  .list_content {
    position: absolute;
    top: 60px;
    right: 0;
    bottom: 0;
    left: 0;
  }

}
