@import '../../../../styles/vars/index'
@import '../../../../styles/mixins/index'

.article_detail {

  .hd {
    flexLayout(, flex-start)
    position: relative;
    height: 60px;
    padding: $btn-padding-base;
    border-bottom: 1px solid rgba($black, .06);
  }

  .title {
    flex-grow: 1;
    .title_input, .title_text {
      width: 100%;
      height: 59px;
      line-height: 59px;
      padding: 18px 0;
      font-size: 18px;
      textOverflow()
    }

    .title_text {
      color: $blue-6;
    }

    .title_input {
      border: none;
      outline: none;
    }
  }

  .actions {
    margin-right: 10px;
    .cancle_btn {
      margin-left: 10px;
    }

  }

  .meta {
    margin-right: 10px;

    .meta_btn {
      font-size: 18px;
      border: none;
    }
  }

  .comment {
    margin-right: 10px;

    .comment_btn {
      font-size: 18px;
      border: none;
    }
  }

  .bd {
    full()
    top: 60px;
    overflow-x: hidden;
    overflow-y: auto;

    .info, .content {
      padding: 16px;
    }

    .info {
      border-bottom: 1px solid rgba($black, .06);
    }

    .state_checked {
      color: $white;

      &.publish_state {
        border-color: $green-6;
        box-shadow: -1px 0 0 0 $green-6;
        background-color: $green-6;
      }

      &.draft_state {
        border-color: $yellow-6;
        box-shadow: -1px 0 0 0 $yellow-6;
        background-color: $yellow-6;
      }

      &.delete_state {
        border-color: $red-6;
        box-shadow: -1px 0 0 0 $red-6;
        background-color: $red-6;
      }
    }

    .category_wrap, .tag_wrap {
      max-height: 200px;
      overflow-x: hidden;
      overflow-y: auto;
    }

    .extends_item_key , .extends_item_value {
      display: inline-block;
    }

    .extends_item_key {
      width: 50px;
      margin-right: 10px;
      font-weight: 700;
    }

    .edit_extends_item {
      margin-bottom: $base-margin;
    }

    .content {
      flexLayout(,, flex-start)
      background-color: $grey-2;

      &.edit_mode {
        display: block;
        padding: 0;
        background-color: $white;
      }

    }

    .article_content {
      width: 75%;
      min-width: 480px;
      background-color: $white;
      border-radius: 3px;
    }

    .md_upload {
      float: right;
      width: (2 * $md-command-item-height);
    }
  }

  .aside {
    full()
    top: 60px;
    left: auto;
  }

}

.meta_info {
  flexLayout(column, ,flex-start)
  width: 180px;

  .key, .value {
    display: inline-block;
    height: 28px;
    line-height: 28px;
    text-align: left;
  }
  .key {
    width 66px;
    flex-shrink: 0;
    font-weight: bold;
  }
  .value {
    flex-grow: 1;
    color: $text-color-secondary;
  }
}
