@import '../../../../styles/vars/index'
@import '../../../../styles/mixins/index'

.article_detail {

  .hd {
    position: relative;
    height: 60px;
    padding: $btn-padding-base;
    border-bottom: 1px solid rgba($black, .06);
  }

  .bd {
    
  }

}
