.app-layout {
  position: relative;
  height: 100vh;

  .main {
    height: 100vh;
    margin-left: $sider-width;
    overflow: hidden;
    transition: $transition-ease-out;

    .container {
      margin: 24px;
    }

    .content {
      position: relative;
      min-height: calc(100vh - 184px)
    }

    .content-inner {
      background: $white;
      padding: 24px;
      padding-right: 500px;
      box-shadow: $shadow-1;
      min-height: calc(100vh - 184px);
    }

  }

  &.with-navbar {
    .main {
      margin-left: 0;
    }
  }

  &.sider-fold {
    .sider {
      width: 42px;

      .logo {
        img {
          width: 28px;
          margin: 6px 7px;
        }
      }

      .ant-menu-root {
        width: 100%;
        overflow: visible;

        & > .ant-menu-item {
          padding: 0;
          text-align: center;

          .anticon {
            font-size: 14px;
            margin-right: 0;
          }
        }

        & > .ant-menu-submenu {
          & > .ant-menu-submenu-title {
            padding: 0;
            text-align: center;

            .anticon {
              font-size: 14px;
              margin-right: 0;
            }

            &::after {
              display: none;
            }
          }
        }
      }
    }

    .main {
      margin-left: 42px;
    }
  }
  
}

@media (max-width: 767px) {
  .app-layout {
    .main {
      .container {
        margin: 12px;
      }

      .bread {
        padding: 0 12px;
      }

      .content {
        min-height: calc(100vh - 160px);
      }

      .content-inner {
        padding: 12px;
        min-height: calc(100vh - 160px);
      }
    }
  }
}