@import '../../styles/vars/index'
@import '../../styles/mixins/index'

full() {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.list_refresh_loading {
  flex()
  full()

  .refresh_overlay {
    full()  
    background-color: alpha($white, .5);
  }
}