@import '../../styles/vars/index'

$content-padding       = $body-padding$content-padding
$content-margin        = $body-padding

.g-main {
  margin: ($content-margin / 2) $content-margin;

  .container {
    min-height: 'calc(100vh - %s * 4.5)' % $body-padding
  }
}
