@import '../../styles/vars/index'

$header-padding       = $body-padding

.g-header {
  border-bottom: 1px solid $grey-4;
  box-shadow: $shadow-2

  :global {
    .ant-menu-horizontal {
      border-bottom: 0;
    }
  }
  
  .logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 8px 24px 8px $header-padding;
    background: alpha($primary-color, .15);
    border-radius: 6px;
  }

  .menus {
    padding: 0 $header-padding;
  }


  .rightWarpper {
    display: flex;
    position: absolute;
    top: 0;
    right: $header-padding;
  }

  .button {
    width: 47px;
    height: 47px;
    line-height: 47px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    transition: $transition-ease-in;

    &:hover {
      color: $primary-color;
      background-color: alpha($primary-color, .15);
    }
  }

}
