@import '../../styles/vars/index'
@import '../../styles/mixins/index'

.g_header {
  .wrap {
    position: relative;
    width: 100%;
    min-width: 1000px;
    height: $header-height;
    padding: 0 $base-padding;
    z-index: $zindex-base;
    background-color: $blue-6;

    .logo {
      flexLayout()
      float: left;
      width: $sider-width;
      height: 100%;
      margin-left: (0 - $base-padding);

      .logo_wrap {
        width: 150px;
        height: 30px;
        background: alpha($white, .15);
        border-radius: 6px;
      }

    }

    .nav {
      display: inline-block;

      .nav_item {
        display: inline-block;
        width: 76px;
        height: $header-height;
        line-height: $header-height;
        padding: $btn-padding-sm;
        color: $text-color-secondary-dark;
        text-align: center;
        font-size: $font-size-lg;
        letter-spacing: 1px;
        transition: $transition-ease-out;
      }
    }

    .aside {
      float: right;

      &_item {
        height: $header-height;
        line-height: $header-height;
        text-align: center;

        &.user_action {
          font-size: $font-size-lger;
          transition: $transition-ease-out;

          &:hover {
            opacity: .8;
          }

          .user_avatar {
            width: 38px;
            height: 38px;
            margin-right: 10px;
            border-radius: 5px;
            vertical-align: middle;
            -wekbit-user-drag: none;
          }
          
        }

      }
      
      .user_icon {
        line-height: $header-height;
        color: $white;
      }

    }
    
  }
}

