@import '../../../../styles/vars/index'

.page-article-edit {
  position: relative;

  .info-title {
    position: relative;

    .action-btns {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
    }
  }

  .state-checked {
    color: $white;

    &.publish-state {
      border-color: $green-6;
      box-shadow: -1px 0 0 0 $green-6;
      background-color: $green-6;
    }

    &.draft-state {
      border-color: $yellow-6;
      box-shadow: -1px 0 0 0 $yellow-6;
      background-color: $yellow-6;
    }

    &.delete-state {
      border-color: $red-6;
      box-shadow: -1px 0 0 0 $red-6;
      background-color: $red-6;
    }
  }

}
